<form novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Modificar Maestros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">id_persona</label>
            <input matInput placeholder="id_persona" [(ngModel)]="uno.id_persona" type="number" class="form-control"
              name="id_persona">
            <mat-error>
              id_persona is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">

            <label class="form-label">fecha_ingreso</label>
            <input matInput placeholder="fecha_ingreso" [(ngModel)]="uno.fecha_ingreso" type="datetime"
              class="form-control" name="fecha_ingreso">
            <mat-error>
              id_persona is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">carnet</label>
            <input matInput placeholder="carnet" [(ngModel)]="uno.carnet" type="text" class="form-control"
              name="carnet">
            <mat-error>
              carnet is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">status</label>
            <input matInput placeholder="status" [(ngModel)]="uno.status" type="text" class="form-control"
              name="status">
            <mat-error>
              status is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
