<form [formGroup]="addressForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Agregar Curso Docente</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="id_docente" formControlName="id_docente">
            <mat-error *ngIf="addressForm.controls['id_docente'].hasError('required')">
              id_docente is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="number" matInput placeholder="id_curso" formControlName="id_curso">
            <mat-error *ngIf="addressForm.controls['id_curso'].hasError('required')">
              id_curso is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input type="datetime-local" matInput placeholder="fecha_inicio" formControlName="fecha_inicio">
            <mat-error *ngIf="addressForm.controls['fecha_inicio'].hasError('required')">
              fecha_inicio is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input type="datetime-local" matInput placeholder="fecha_fin" formControlName="fecha_fin">
            <mat-error *ngIf="addressForm.controls['fecha_fin'].hasError('required')">
              fecha_fin is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col">
          <mat-form-field class="full-width">
            <textarea  matInput placeholder="status" formControlName="status"></textarea>
            <mat-error *ngIf="addressForm.controls['status'].hasError('required')">
              status is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit" [disabled]="addressForm.invalid">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
