<form novalidate (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Modificar Maestros</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">nombre</label>
            <input matInput placeholder="nombre" [(ngModel)]="uno.nombre" type="text" class="form-control" name="nombre">
            <mat-error>
              nombre is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">apellido</label>
            <input matInput placeholder="apellido" [(ngModel)]="uno.apellido" type="text" class="form-control" name="apellido">
            <mat-error>
              apellido is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">fecha_nacimiento</label>
            <input matInput placeholder="fecha_nacimiento" [(ngModel)]="uno.fecha_nacimiento" type="datetime"
              class="form-control" name="fecha_nacimiento">
            <mat-error>
              fecha_nacimiento is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <label class="form-label">direccion</label>
            <input matInput placeholder="direccion" [(ngModel)]="uno.direccion" type="text" class="form-control" name="direccion">
            <mat-error>
              direccion is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
